body,
html {
  height: 100%;
  margin: 0;
}
.bg {
  /* background: url(../images/background1.jpg) no-repeat center; */
  background-color: #6934f8;
  background-size: cover;
  height: 100%;
  padding: 12px;
}

.welcome p {
  font-size: 4.25rem;
}

.welcome button {
  color: #6934f8 !important;
  font-size: 3rem;
  border: 2px solid #6934f8;
  background-color: #74d14c;
  padding: 0 55px;
  font-family: "Bowlby One SC";
}

.welcome button:hover {
  background-color: white !important;
  color: #6934f8 !important;
}

.welcome button:focus {
  background-color: white !important;
  color: #6934f8 !important;
}

#StartOver {
  color: #6934f8 !important;
  font-size: 2rem;
  border: 2px solid #6934f8;
  background-color: #74d14c;
  padding: 0 55px;
  font-family: "Bowlby One SC";
}

#StartOver:hover {
  background-color: #6934f8 !important;
  color: white !important;
}

#StartOver:focus {
  background-color: #6934f8 !important;
  color: white !important;
}

.game {
  background: white;
  border-radius: 1.25rem !important;
  font-family: "Bowlby One SC";
  color: #6934f8 !important;
  padding-bottom: 42px !important;
}

.answers {
  color: #6934f8 !important;
  font-size: 1.2rem;
  border: 2px solid #6934f8;
  background-color: #74d14c;
  font-family: "Bowlby One SC";
  cursor: pointer;
  width: 200px;
}

.answers:hover {
  background-color: #6934f8 !important;
  color: white !important;
}

.answers:focus {
  background-color: #6934f8 !important;
  color: white !important;
}

.questions {
  font-size: 2rem;
}

.menu {
  font-size: 1.2rem;
}

.timer {
  background-color: #ec8d40;
  color: #6934f8 !important;
  width: 200px;
}

.result_card {
  background: white;
  border-radius: 1.25rem !important;
  font-family: "Bowlby One SC";
  color: #6934f8 !important;
}

.message_card {
  background: white;
  border-radius: 1.25rem !important;
  font-family: "Bowlby One SC";
  color: #6934f8 !important;
}

.result_card p {
  font-size: 1.2rem;
}

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  ...;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  ...;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  ...;
} */

/* // Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .game {
    width: 860px !important;
  }
}
