body,
html {
  height: 100%;
  margin: 0;
}
.bg {
  background: url(../images/background.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
  padding: 12px;
}

.welcome {
  /* background-color: white; */
  /* padding: 60px;
  font-family: "Bungee Shade";
  color: #6934f8; */
  /* border: 5px solid #6934f8; */
}

.welcome p {
  font-size: 4.25rem;
}

.welcome button {
  color: #6934f8 !important;
  font-size: 3rem;
  border: 2px solid #6934f8;
  background-color: #74d14c;
  padding: 0 55px;
  font-family: "Bowlby One SC";
}

.welcome button:hover {
  background-color: #6934f8 !important;
  color: white !important;
}

.welcome button:focus {
  background-color: #6934f8 !important;
  color: white !important;
}

.game {
  background: white;
  border-radius: 1.25rem !important;
}

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  ...;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  ...;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  ...;
} */

/* // Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .game {
    width: 860px !important;
  }
}
